.container {
	margin: 20px auto;
	background-color: #7dd3fc;
	width: 60%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.container thead tr {
	background-color: #0ea5e9;
	border-bottom: 2px solid rgba(0, 0, 0, 0.171);
}

.tableTr th,
.tableTr tr {
	padding: 12px 15px;
}

.tbody tr {
	letter-spacing: 1px;
	border-bottom: 1px solid #bae6fd;
	transition: 0.3s;
}
.tbody tr:nth-of-type(even) {
	background-color: #38bdf8;
}
.tbody tr:last-of-type {
	border-bottom: 2px solid #0284c7;
}
.tbody tr:hover {
	background-color: #0ea5e9;
}
